<launch>

    <arg name="scenario" default="mbs" />
    <!-- <arg name="scenario" default="hangar" /> -->
    <!-- <arg name="scenario" default="crane" /> -->

    <!-- launch simulator -->
    <include file="$(find caric_mission)/launch/run_$(arg scenario).launch" />

    <!-- For visualization -->
    <node name="odom2tf" pkg="caric_mission" type="odom2tf.py" output="screen"/>

    <!-- for communication -->
    <!-- <node name="ppcom_router" pkg="caric_mission" type="ppcom_router.py" output="screen" /> -->

    <param name = "map_resolution_1" type = "double" value = "0.75" />
    <param name = "map_resolution_2" type = "double" value = "0.50" />
    <param name = "map_resolution_3" type = "double" value = "0.25" />


    <!-- GCS -->
    <group ns="gcs">
        <node pkg="caric_competition_xmu" type="gcs" name="gcs" output="screen">
            <param name="node_name" value="gcs" />
        </node>
        <node pkg="caric_competition_xmu" type="get_points_in_faces.py" name="get_points_in_faces" output="screen" />
    </group>

</launch>
