<launch>

    <arg name="manual_control" default="false" />

    <!-- Launch the simulator -->
    <include file="$(find caric_mission)/launch/run_mbs.launch"/>
    <!-- <include file="$(find caric_mission)/launch/run_hangar.launch"/> -->
    <!-- <include file="$(find caric_mission)/launch/run_crane.launch"/> -->

    <!-- For visualization -->
    <node name="odom2tf" pkg="caric_mission" type="odom2tf.py" output="screen"/>


</launch>